body {
  background-image: url("image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
}

/* Header Styling */
header {
  background-image: url("sctr.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header a {
  color: #111;
  text-decoration: none;
}

/* Gallery */
.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

figure {
  text-align: center;
}

img {
  width: 250px;
}

/* Table */
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;

}

